<script src="/static/bootstrap_datepicker/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap_datepicker/css/bootstrap-datepicker.css" />

<div class="box">
    <div class="box-header">
		<h3 class="box-title">选取时间段</h3>
	</div>
    <div class="box-body">
        <div class="input-group input-daterange col-md-4">
            <input type="text" class="form-control" id="start" />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" id="end" />
        </div>
    </div>
	<div class="box-header">
		<h3 class="box-title">日志文件路径</h3>
	</div>
	<div class="box-body">
		<div class="col-md-4">
			<input type="text" class="form-control" id="logPath">
		</div>
		<div class="col-md-2">
			<button class="btn btn-info btn-sm" id="analyze">分析</button>
		</div>
	</div>
</div>

<div id="Canvas" class="Canvas well resizable" style="height:200px;overflow:auto;margin-bottom:0px;"></div>

<script>
    //控制<请稍等>
    $("#loadingwait").hide()

    //日期插件
    $('.input-daterange input').each(function() {
        $(this).datepicker('clearDates');
    })

	//提交分析
	$("#analyze").on("click",function(){
		//获取输入的日志路径
		path = $("#logPath").val().trim()
        if (path == ""){
		    alert("请输入日志文件路径")
        }else {
		    url = "/analyze?path="+path
            $("#loadingwait").show()
            $.get(url,function (data) {
                reporturl = data["reporturl"]
                result = data["result"]
                //展示返回数据
                $("#Canvas").html(result)
                //浏览器新tab页访问截取的url
                window.open(reporturl)
                $("#loadingwait").hide()
            },"json")
        }
	})
</script>