<script src="/static/bootstrap_datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/tools/formatjson.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap_datepicker/css/bootstrap-datepicker.css" />

<div class="box">
    <div class="box-header">
		<h3 class="box-title">选取时间段</h3>
	</div>
    <div class="box-body">
        <div class="input-group input-daterange col-md-3">
            <input type="text" class="form-control" id="starttime" />
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" id="endtime" />
        </div>
    </div>
	<div class="box-header">
		<h3 class="box-title">目标IP</h3>
	</div>
	<div class="box-body">
		<div class="col-md-2">
			<input type="text" class="form-control" id="targetip">
		</div>
		<div class="col-md-2">
			<button class="btn btn-info btn-sm" id="analyze">分析</button>
		</div>
	</div>
</div>

<pre id="Canvas" class="Canvas well resizable" style="height:100%;overflow:auto;margin-bottom:0px;"></pre>

<script>
    //控制PageHeader
    $("#pageheader").html($(".treeview-menu .active").children("a").html())
    //控制<请稍等>
    $("#loadingwait").hide();

    //日期插件
    $('.input-daterange input').each(function() {
        $(this).datepicker('clearDates');
    })

	//提交分析
	$("#analyze").on("click",function(){
		targetip = $("#targetip").val().trim();
        if (targetip == ""){
		    alert("请输入目标机器IP")
        }else {
		    url = "/analyze?targetip="+targetip;
            $("#loadingwait").show();
            $.get(url,function (data) {
                code = data["code"];
                $("#loadingwait").hide();
                if (code == 200){
                    reporturl = data["reporturl"];
                    result = data["result"];
                    //展示返回数据
                    $("#Canvas").html(formatJson(result));
                    //浏览器新tab页访问截取的url
                    window.open(reporturl)
                }else {
                    alert(data["msg"])
                }
            },"json")
            $(this).blur()
        }
	})
</script>