<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登录页面</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css" />
  <link rel="icon" href="/static/ico/favicon.ico" />

<style>
  .login-box{
    border-radius: 20px;
    width: 360px;
    height: 75%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
</head>
<body class="hold-transition login-page" style="background-image:url(/static/img/bg.jpg); background-repeat:no-repeat; background-size:100%;">
<div class="login-box">
  <div class="login-logo">
    <a>请登录</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg" id="loginMsg">Sign in to start your session</p>
    <div class="form-group has-feedback">
      <input id="username" class="form-control" placeholder="Username">
      <span class="fa fa-fw fa-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <input id="passwd" type="password" class="form-control" placeholder="Password">
      <span class="fa fa-fw fa-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8" style="margin-top: 8px">
        <a href="/register">新用户请注册</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/resetpasswd">重置密码</a>
      </div>
      <div class="col-xs-4">
        <button id="loginSubmit" class="btn btn-primary btn-block btn-flat">登录</button>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="row" align="center">
      <div class="modal-body" style="font-size: 18px">
          <a href="http://git.dangdang.com/wanghuaizhi/jms/wikis/home" target="_blank">系统说明</a>
      </div>
    </div>
  </div>
</div>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
  // 登录提交
  $("#loginSubmit").on("click",function(){
    username = $("#username").val();
    passwd = $("#passwd").val();
    console.log(username, passwd);
    if (username === "" || passwd === ""){
      $("#loginMsg").html("用户名或密码不能为空，请重新输入");
    }else {
      url = "/login";
      $.post(url, {"username":username, "passwd":passwd}, function(data){
        code = data["code"];
        if (code === 200){
          window.location.href = data["url"]
        }else {
          $("#loginMsg").html(data["msg"]);
          document.getElementById("username").value = "";
          document.getElementById("passwd").value = "";
        }
      },"json")
    }

  });

  //回车提交
  document.onkeydown = function(){
    const e = event || window.event;
    if (e.keyCode === 13){
      $("#loginSubmit").click();
      return false;
    }
  };
</script>
</body>
</html>