<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>JVM System</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css" />
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css" />
  <link rel="icon" href="/static/ico/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
    <style>
      .loading{
        position:relative;
		top:-20px;
		left:-20px;
		width:100%;
		height:100%;
		z-index:10000;
      }
      .loading span{
        display: inline-block;
        width: 8px;
        height: 100%;
        position:relative;
        border-radius: 4px;
        background: lightgreen;
        -webkit-animation: load 1.04s ease infinite;
      }
      @-webkit-keyframes load{
        0%,100%{
          height: 40px;
          background: lightgreen;
        }
        50%{
          height: 60px;
          margin-top: -20px;
          background: lightblue;
        }
      }
      .loading span:nth-child(2){
        -webkit-animation-delay:0.13s;
      }
      .loading span:nth-child(3){
        -webkit-animation-delay:0.26s;
      }
      .loading span:nth-child(4){
        -webkit-animation-delay:0.39s;
      }
      .loading span:nth-child(5){
        -webkit-animation-delay:0.52s;
      }
    </style>
</head>
<!--
BODY TAG OPTIONS:
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a class="logo">
      <span class="logo-mini">JVM System</span>
      <span class="logo-lg"><b>JVM System</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-gears"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <p>
                  {{username}}
                  <br>DevOps - dangdang
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/resetpasswd" class="btn btn-default btn-flat">Setting</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i><span>GC日志分析</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li class="option" url="/confissue"><a>配置分发</a></li>
            <li class="option" url="/gceasy"><a>日志分析</a></li>
            <li class="option" url="/hisrecord"><a>历史记录</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1 id="pageheader">
        GC 日志分析
      </h1>
    </section>
    <section class="content container-fluid" id="info">
      <!--------------------------
        | Your Page Content Here |
        -------------------------->
    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Keep calm and carry on.
    </div>
    <strong>Copyright &copy; <a href="#">dangdang ops</a>.</strong> All rights reserved.
  </footer>
</div>

<div id="loadingwait" style="display:none;position:fixed;height:100%;width:100%;left:0;top:0;right:0;buttom:0;background:#000;opacity:0.7;z-index:10000">
  <div style="position:absolute;left:50%;top:50%">
    <div class="loading">

      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <h3 style="color:white;position:relative;left:-10px">请稍等</h3>
    </div>
  </div>
</div>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/dist/js/adminlte.min.js"></script>
<script src="/static/bootbox.min.js"></script>
<link rel="stylesheet" href="/static/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" />
<script src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  //为操作按钮添加点击事件
  $(".option").on("click",function(){
    //为所有的菜单项移除active高亮样式
    $(".option").removeClass("active");
    //为当前点击的菜单添加active高亮样式
    $(this).addClass("active");
    //获取当前菜单上的URL属性
    url = $(this).attr("url");
    //显示等待模板
    $("#loadingwait").show();
    //info div局部加载url
    $("#info").load(url)
  })
</script>
</body>
</html>